<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        

        <title>Galerías</title>

    </head>
    <body bgcolor="#FFFFCC">
        
  <br><br>

         <br><br>
       <a href="{{ path('galeria_sitio') }}">Volver</a>
       
    </body>
</html>

