
{% block stylesheets %}
{% endblock %}


{% block cabecera %}
{% endblock %}


{% block cuerpo %}


<h2>Hello Galeria!!!!</h2>
<br><br>


<a href="{{ path('galeria_sitio') }}">
    <button class="boton" type="button" formaction="" >Galería</button>
</a>



{% endblock %}
